# MongoDB
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.pra3lzh.mongodb.net/qazaqtrip?appName=Cluster0
JWT_SECRET=your-jwt-secret

# Session
SESSION_SECRET=your-session-secret
PORT=8080
NODE_ENV=production

# Frontend URL
CLIENT_URL=https://qazaqtripp.vercel.app

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=https://qazaqtripp-production-aee6.up.railway.app/api/auth/github/callback
